@charset "UTF-8";

*,
*:focus,
*:active {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	outline: none;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: 'Montserrat';
	margin: 0;
	padding: 0;
	background-color: #333;
	color: #fff;
	height: 100%;
	scrollbar-width: none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}

	&.locked {
		overflow: hidden;
	}
}

@-moz-document url-prefix() {
	html {
		scrollbar-width: none;
	}
}

@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url(../fonts/Montserrat-ExtraBold.woff2) format("woff2"),
		url(../fonts/Montserrat-ExtraBold.woff) format("woff");
	font-weight: 800;
	font-style: normal
}

@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url(../fonts/Montserrat-Bold.woff2) format("woff2"),
		url(../fonts/Montserrat-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url(../fonts/Montserrat-Medium.woff2) format("woff2"),
		url(../fonts/Montserrat-Medium.woff) format("woff");
	font-weight: 500;
	font-style: normal
}

@font-face {
	font-family: 'Montserrat';
	font-display: swap;
	src: url(../fonts/Montserrat-Regular.woff2) format("woff2"),
		url(../fonts/Montserrat-Regular.woff) format("woff");
	font-weight: 400;
	font-style: normal
}

img {
	max-width: 100%;
	display: block
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	flex: 0 0 auto;
	position: relative;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* Вычисление размеров*/
@function compute($min, $max) {
	/*  число изначальное (как в фигме на разрешении 1440) / на на ширину страницы (1440 = 14.4)*/
	$number: calc($max / 14.4);
	@return clamp(#{$min}px, #{$number}vw, #{$max}px);
}

// для отрицательных значений
@function compute2($max, $min) {
	$number: calc($max / 14.4);
	@return clamp(#{$max}px, #{$number}vw, #{$min}px);
}

.main {
	background-image: url(../img/infographics_bg.svg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	position: relative;
	height: compute(300, 15205);
}

.first_block {
	background-image: url(../img/first_block_bg.svg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
	position: relative;
	min-height: compute(300, 760);
	overflow: hidden;
}

.logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: compute(30, 101);
}

.title {
	font-size: compute(14, 28);
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: compute(10, 14);
}

.text {
	font-size: compute(12, 22);
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	line-height: compute(12, 33);
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: compute(5, 10);
	font-size: compute(12, 20);
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	color: #FFF;
	background: #EF6C00;
	border-radius: compute(4, 8);
	margin-top: compute(10, 14);
	width: fit-content;
	padding: compute(5, 10) compute(10, 29);
	transition: all 0.3s ease;

	&:hover {
		box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

		&:after {
			transform: translateX(compute(5, 10));
		}
	}

	&:after {
		transition: all 0.3s ease;
		content: '';
		display: block;
		position: relative;
		top: 0;
		left: 0;
		width: compute(12, 28);
		height: compute(5, 20);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='16' viewBox='0 0 29 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M28.7071 8.70711C29.0976 8.31658 29.0976 7.68342 28.7071 7.29289L22.3431 0.928932C21.9526 0.538408 21.3195 0.538408 20.9289 0.928932C20.5384 1.31946 20.5384 1.95262 20.9289 2.34315L26.5858 8L20.9289 13.6569C20.5384 14.0474 20.5384 14.6805 20.9289 15.0711C21.3195 15.4616 21.9526 15.4616 22.3431 15.0711L28.7071 8.70711ZM0 9H28V7H0V9Z' fill='white'/%3e%3c/svg%3e ");
	}
}

.content {
	padding-right: compute(16, 24);

}

.img_wrapper {
	width: compute(50, 222);
	flex: 0 0 auto;
	border: 1px solid #FFF;
	border-radius: 100%;
}

.img {
	border-radius: 100%;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;
	position: relative;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
}

.image_wrapper {
	position: relative;
}

.image {
	position: relative;

	img {
		width: 100%;
	}

	&._1 {
		width: compute(50, 684);
		left: compute(20, 83);
	}

	&._2 {
		width: compute(50, 119);
		left: compute(20, 140);
	}

	&._3 {
		width: compute(50, 250);
		left: compute(20, 278);
	}

	&._4 {
		width: compute(50, 75);
		left: compute2(-64, -10);
		margin-left: auto;
		margin-top: compute(20, 147);
	}

	&._5 {
		width: compute(50, 489);
		left: compute(20, 128);
	}

	&._6 {
		width: compute(50, 429);
		left: compute(20, 250);
	}

	&._7 {
		width: compute(50, 521);
		left: compute(20, 224);
	}

	&._8,
	&._9,
	&._10,
	&._11 {
		position: absolute;
	}

	&._8 {
		width: compute(50, 206);
		left: compute2(-57, -10);
		bottom: compute(50, 275);
		transform: rotate(332deg);
	}

	&._9 {
		width: compute(20, 101);
		left: compute2(-104, -10);
		bottom: compute(50, 205);
		transform: rotate(30deg);

	}

	&._10 {
		width: compute(20, 88);
		left: compute(100, 780);
		bottom: compute(50, 227);
	}

	&._11 {
		width: compute(20, 76);
		left: compute(100, 780);
		bottom: compute(50, 184);
	}

	&._12 {
		width: compute(20, 405);
		left: compute(20, 219);

	}
}

.item_block {
	position: relative;
	max-width: compute(400, 706);
	// margin-left: auto;
	margin-left: compute(15, 526);
	margin-right: compute(15, 207);
	// width: 100%;
	width: 59%;
}

.item_block_list {
	height: 100%;
	position: relative;

	.item_block {
		position: absolute;

		&:nth-child(1) {
			// padding-top: compute(50, 96);
			bottom: compute(30, 14006);
		}

		&:nth-child(2) {
			// padding-top: compute(50, 296);
			bottom: compute(30, 13300);
		}

		&:nth-child(3) {
			// padding-top: compute(50, 438);
			bottom: compute(30, 12588);
		}

		&:nth-child(4) {
			// padding-top: compute(50, 350);
			bottom: compute(30, 11870);
		}

		&:nth-child(5) {
			// padding-top: compute(50, 585);
			bottom: compute(30, 10844);

			.image_wrapper {
				display: flex;
				flex-direction: column;
			}
		}

		&:nth-child(6) {
			// padding-top: compute(50, 237);
			bottom: compute(30, 10329);
		}

		&:nth-child(7) {
			// padding-top: compute(50, 550);
			bottom: compute(30, 9398);
		}

		&:nth-child(8) {
			// padding-top: compute(50, 158);
			bottom: compute(30, 8863);
		}

		&:nth-child(9) {
			// padding-top: compute(50, 1283);
			bottom: compute(30, 7200);
		}

		&:nth-child(10) {
			// padding-top: compute(50, 1567);
			bottom: compute(30, 5359);
		}

		&:nth-child(11) {
			// padding-top: compute(50, 603);
			bottom: compute(30, 4478);
		}

		&:nth-child(12) {
			// padding-top: compute(50, 950);
			bottom: compute(30, 2754);
		}

		&:nth-child(13) {
			// padding-top: compute(50, 782);
			bottom: compute(30, 1625);
		}

		&:nth-child(14) {
			// padding-top: compute(50, 722);
			bottom: compute(30, 402);
		}

		&:nth-child(15) {
			// padding-top: compute(0, 0);
			bottom: compute(0, 0);
			display: flex;
			justify-content: flex-end;
		}
	}
}

.item_block_first {
	color: #1F2434;
	// height: compute(300, 717);
	height: compute(300, 760);
	padding-bottom: compute(10, 40);

	display: flex;
	justify-content: center;
	flex-direction: column;
}

.item_block_img {
	display: flex;
	align-items: flex-start;
}

.drill_block {
	position: absolute;
	top: 0;
	min-height: 100%;
	padding-top: compute(300, 655);
	left: compute(0, 282);
	width: compute(30, 102);
	padding-bottom: compute(100, 335);

}

.drill_block_img {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;

	img {
		position: relative;
		top: -3px;
		max-height: 90vh;
	}
}

.scale_block {
	position: absolute;
	top: 0;
	min-height: 100%;
	padding-top: compute(300, 759);
	left: compute(0, 99);
	width: compute(200, 549);
}

.scale_block_item {
	font-style: normal;
	font-weight: 700;
	line-height: 150%;
	display: flex;
	white-space: nowrap;

	&.left {
		flex-direction: column;
		font-size: compute(14, 30);
		height: compute(18, 76);

		img {
			width: compute(100, 327);
			margin-top: -9px;
		}

		// 1076 - это 1000 + высота блока (76)
		&:not(._0) {
			margin-top: compute(18, 1076);
		}

	}

	&.right {
		font-size: compute(14, 40);
		gap: compute(5, 16);
		justify-content: flex-end;
		position: absolute;
		bottom: compute2(-76, -20);
		left: compute2(-280, -100);

		img {
			flex: 0 0 auto;
			width: compute(100, 266);
			max-width: initial;
		}
	}
}

.last_image {
	width: compute(18, 281);
	overflow: hidden;
	left: compute(10, 60);
	position: relative;

	img {
		margin-bottom: compute2(-80, -10);
	}
}

.item_block_wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
}

.img_bg {
	position: absolute;

	&._1 {
		width: compute(30, 95);
		right: compute(10, 72);
		top: compute(10, 456);
	}

	&._2 {
		width: compute(40, 99);
		left: compute(10, 67);
		top: compute(10, 513);
	}
}



// modal
@keyframes modalAnimateTop {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-x: hidden;
	display: none;
	overflow-y: auto;

	&.show {
		display: block;

	}

	.close {
		width: compute(25, 45);
		height: compute(25, 45);
		display: flex;
		align-items: center;
		justify-content: center;
		background: 0 0;
		border: none;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		z-index: 5;

		svg {
			width: compute(12, 17);
			height: compute(12, 17);
			flex: 0 0 auto;
		}

	}
}

.modal-dialog {
	width: 100%;
	min-height: 100%;
	height: auto;
	padding: compute(10, 30);
	position: relative;
	z-index: 2;
	display: flex;
}

.modal_bg {
	background: rgba(34, 34, 34, .3);
	width: 100%;
	min-height: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
}

.modal-content {
	max-width: compute(600, 838);
	width: 100%;
	position: relative;
	padding: compute(20, 40);
	margin: auto;
	border-radius: compute(10, 28);
	background: rgba(25, 20, 18, 0.60);
	backdrop-filter: blur(37px);
	animation: modalAnimateTop 0.4s;
	color: #fff;
}

.modal_img {
	height: 0;
	padding-bottom: 47.76%;
	position: relative;
	overflow: hidden;
	border-radius: compute(5, 10);
	margin-bottom: compute(16, 24);

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.modal_title {
	font-size: compute(16, 28);
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: compute(16, 24);
}

.modal_text {
	font-size: compute(14, 18);
	font-style: normal;
	font-weight: 400;
	line-height: 150%;

	ul {
		padding: 0;
		margin: 0;
		margin-bottom: compute(16, 24);
		list-style: none;

		li {
			list-style: none;
			position: relative;
			padding-left: compute(15, 22);
			display: flex;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: compute(7, 11);
				left: 0;
				width: compute(5, 9);
				height: compute(5, 9);
				border-radius: 100%;
				background: #EF6C00;
			}

			&:not(:last-child) {
				margin-bottom: compute(4, 12);
			}
		}
	}
}

.modal_body {
	display: none;

	&.show {
		display: block;
	}
}

@media screen and (max-width:992px) {
	.img_wrapper {
		width: compute(50, 150);
	}

	.item_block {
		margin-right: 20px;
		// max-width: compute(400, 360);
	}
}

.infographic_mobile {
	display: none;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: #675444;
	color: #FFF;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	z-index: 1000;

	&.show {
		display: flex;
	}

	img {
		margin-bottom: 37px;
	}
}

.infographic_mobile_title {
	font-size: 21px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 50px;
}

.infographic_mobile_text {
	max-width: 192px;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
}

.cloud {
	position: absolute;

	&._1 {
		top: compute(20, 71);
		left: compute(50, 826);
		width: compute(100, 352);
	}

	&._2 {
		top: compute(20, 204);
		left: compute(50, 1206);
		width: compute(100, 244);
	}

	&._3 {
		top: compute(20, 410);
		left: compute(50, 288);
		width: compute(100, 297);
	}

	&._4 {
		top: compute(20, 55);
		left: compute2(-107, -30);
		width: compute(100, 374);
	}
}

.house {
	position: absolute;
	z-index: 2;

	&._1 {
		top: compute(0, 245);
		left: compute(50, 265);
		width: compute(50, 137);
	}
}